/* ===================================================================== */
/* Devices */
/*

 Mobile Devices (0px to 479px)
@media (max-width: 480px) {}

Tablet Devices (480px - 767px) 
@media (max-width: 768px) {}

Laptop Devices (768px - 1023px) 
@media (max-width: 1024px) {}

Large Desktop Devices (1200px+)
@media (max-width: 1200px) {}

/* ===================================================================== */




/* ===================================================================== */
/* Header Notice bar & Navbar Media */
/* ===================================================================== */

@media (max-width: 768px) {
  .btn-mobile-nav {
    display: block;
  }

  .navmenu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 2.4rem;
    transition: 0.4s;
  }

  .navmenu-list {
    flex-direction: column;
    gap: 3.5rem;
    width: 100%;
    /* text-align: center; */
  }

  .navmenu-list li {
    width: 100%;
  }

  .cta a {
    display: block;
    font-size: 3.2rem;
    border: none;
  }

  .navmenu-list a {
    font-size: 3.2rem;
    display: block;
    /* Make the link fill its parent */
    width: 100%;
    /* Full width */
    padding: 1rem;
    /* Comfortable touch area */
    text-align: center;
    /* Center text */
    border-bottom: 1px solid #ccc;
    /* Add border between items */
    text-decoration: none;
    /* Remove underline */
    color: #ffffff;
    /* Adjust text color */
  }

  .navmenu-list a:hover {
    background-color: #f0f0f0;
    /* Highlight on hover */
  }

  .nav-open .navmenu {
    right: 0;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
}


/* @media (max-width: 992px) {
  .navmenu {
   
    font-size: 1.8rem;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.8);
   
    position: absolute;
    top: 0;
  
    right: 0;
    width: 80%;
    height: 80vh;
    padding: 1rem;
    z-index: 20;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navmenu-list {
    flex-direction: column;
    gap: 1rem;
  }

  .cta {
    display: none;
  }

  .icon-mobile-nav {
    display: flex;
  }

  .icon-mobile-nav[name="close-outline"] {
    display: inline-block;
  }

  .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .navmenu.active {
    display: flex;
  }

  .btn-mobile-nav {
    display: block;


    cursor: pointer;
    flex-direction: column;
    gap: 0.5rem;
    background: none;
    border: none;
  }

  .btn-mobile-nav span {
    width: 2rem;
    height: 0.3rem;
    background: #fff;
  }
} */




/* ===================================================================== */
/* About Section Media */
/* ===================================================================== */
@media (max-width: 76.8rem) {
  #about .container {
    padding-top: 6.4rem;
    flex-direction: column-reverse;
    text-align: center;
  }

  #about .section-img {
    width: 100%;
    margin: 0 4rem;
  }

  #about .section-heading {
    width: 100%;
  }

  #about .section-heading .section-title,
  #about .section-heading .floating-title {
    text-align: center;
  }
}

@media (max-width: 48rem) {
  #about .container {
    flex-direction: column-reverse;
    gap: 1.6rem;
  }

  #about .section-img {
    width: 100%;
    margin: 0 4rem;
  }

  #about .container .section-heading {
    max-width: 100%;
  }

  #about .section-heading .section-title {
    font-size: 2.4rem;
  }

  #about .section-heading .floating-title {
    font-size: 1.2rem;
  }
}

/* ===================================================================== */
/* Project Section Media */
/* ===================================================================== */
@media (max-width: 76.8rem) {
  #projects .container .projects-content {
    max-width: 100%;
    gap: 1.6rem;
  }

  #projects .container .projects-content .project-item {
    justify-content: center;
    width: 100%;
  }
}

/* ===================================================================== */
/* Team Section Media */
/* ===================================================================== */

@media (max-width: 48rem) {
  #team .container .team-content {
    flex-direction: column;
  }

  #team .container .team-item {
    width: 100%;
    gap: 1.6rem;
  }

  #projects .container .projects-content .project-item {
    justify-content: center;
    width: 100%;
  }
}

/* ===================================================================== */
/* Contact Section Media */
/* ===================================================================== */

@media (max-width: 48rem) {
  #contact {
    padding: 0 1rem;
  }
}

/* ===================================================================== */
/* Middle Section Media */
/* ===================================================================== */

@media (max-width: 48rem) {
  .middle-section h4 {
    font-size: 3.2rem;
  }
}