/* ==========================================================
   CSS VARIABLES 
========================================================== */
:root {
    --primary-color: #ba2d06;
    --dark-color: #0f172a;
    --light-color: #ffffff;
    --text-color: #334155;
    --border-color: #e2e8f0;
    --hover-color: #0b5ed7;
    --transition: all 0.3s ease;
    --font-main: "Inter", sans-serif;
}

/* ==========================================================
   Universal RESET (Margin,Padding, Box-Model)  
   !fixed
========================================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ==========================================================
   BASE STYLES (default font-size, font-color)
   !fixed (mostly)
========================================================== */
html {
    font-size: 62.5%;
    color: #fff;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(34, 34, 34);
    font-family: "inter", sans-serif;
    color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 400;
    cursor: pointer;
}


/* ========================================================== 
   COMMON STYLES   
========================================================== */

/* For Container */
.container {
    /* box-model */
    width: 100%;
    height: 100%;
    max-width: 136rem;
    margin: 0 auto;
    padding: 0 1.2rem;
}

.section-title {
    /* font */
    font-size: clamp(2.4rem, 1.4rem + 2vw, 4rem);
    font-weight: 600;

    /* box-model */
    margin-bottom: clamp(2.4rem, 1.4rem + 2vw, 4rem);

    /* text-align */
    text-align: center;
}

.floating-title {
    /* font */
    font-size: clamp(1.2rem, 1rem + 0.5vw, 1.6rem);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1rem;

    /* color */
    color: #fa5b2f;

    /* text-align */
    text-align: center;
}

.middle-section {
    /* box-model */
    padding: 5rem 0;

    /* font */
    font-size: 5.2rem;
    font-weight: 800;
    text-align: center;

    /* color */
    color: transparent;
    -webkit-text-stroke: 0.1rem var(--light-color);
}

ul li {
    list-style: none;
}

/* ========================================================== 
   HERO SECTION with Navbar
========================================================== */


/* ================================
   HERO SECTION
================================ */
#hero-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

/* ********* Background Video *********/
.hero-video {
    /* box-model */
    width: 100%;
    height: 100%;

    /* position */
    position: absolute;
    inset: 0;

    /* object-fit */
    object-fit: cover;

    /* z-index */
    z-index: -2;
}

/* ********* Dark Overlay *********/
#hero-section::after {
    /* box-model */
    content: "";

    /* position */
    position: absolute;
    inset: 0;

    /* color */
    background: rgba(0, 0, 0, 0.55);

    /* z-index */
    z-index: -1;
}


/* ================================
   NAVBAR
================================ */
.navbar {
    font-size: clamp(1.6rem, 1rem + 0.5vw, 1.8rem);

    /* box-model */
    width: 100%;
    padding: 2rem 0;

    /* position */
    position: absolute;
    top: 0;
    left: 0;

    /* z-index */
    z-index: 10;
}

.navbar .container {
    /* box-model */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navmenu {
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.logo img {
    height: 4.5rem;
    width: auto;
}

/* Menu */
.navmenu-list {
    display: flex;
    list-style: none;
    gap: 2.4rem;
}

.navmenu-list a {
    text-decoration: none;
    font-size: 1.6rem;
    color: #fff;
    position: relative;
}

.navmenu-list a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background: aqua;
    transition: 0.3s;
}

.navmenu-list a:hover::after {
    width: 100%;
}

/* CTA */
.navbar-btn {
    /* box-model */
    padding: 0.8rem 1.6rem;
    border: 1px solid rgba(0, 255, 255, 0.7);
    border-radius: 4rem;
    transition: 0.3s;

    /* font */
    color: aqua;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
}

.navbar-btn:hover {
    background: aqua;
    color: #000;
}

/* ================================
   MOBILE NAV BUTTON
================================ */
.btn-mobile-nav {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 100;
}

.icon-mobile-nav {
    font-size: 3.2rem;
    color: #fff;
}

.icon-mobile-nav[name="close-outline"] {
    display: none;
}

/* ================================
   HERO TEXT
================================ */
.hero-section-heading {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.floating-title {
    font-size: clamp(1.2rem, 1rem + 0.5vw, 1.6rem);
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
    opacity: 0.9;
}

.hero-section-heading h1 {
    font-size: clamp(2.4rem, 5vw, 5.2rem);
    line-height: 1.2;
}

/* ================================
   SLIDER BUTTONS
================================ */
.slider-controls {
    position: absolute;
    bottom: 5rem;
    right: 5rem;
    display: flex;
    gap: 1.5rem;
}

.slider-controls button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.slider-controls button:hover {
    background: aqua;
    color: #000;
}


/* ========================================================== 
   Article Section Start
========================================================== */
#articles {
    padding: 6rem 0;
}

#articles .container {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 1.2rem;
}

.article-box {
    width: clamp(22rem, 25vw, 30rem);
    background-color: rgb(27, 27, 27);
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.6rem;

    position: relative;
    overflow: hidden;
}

.article-box::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 150%;
    background: linear-gradient(180deg, #00b7ff, #ff30ff);
    animation: rotate 6s linear infinite;
}

.article-box::after {
    content: "";
    position: absolute;
    inset: 3px;
    background: rgb(27, 27, 27);
    border-radius: 1.2rem;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.article-image {
    padding: 0.4rem;
    z-index: 10;
}

#articles .container .article-box img {
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    width: 100%;
}

.article-text {
    padding: 0.8rem;
    flex: 1;
    z-index: 2;
}

.article-divider {
    display: none;
    margin: 1.6rem 0;
    opacity: 0.15;
}

.article-heading {
    font-size: clamp(1rem, 1.2vw, 1.4rem);
    font-weight: 500;
    margin-bottom: 0.8rem;
}

.article-subheading {
    font-size: clamp(1.6rem, 3vw, 2.4rem);
    letter-spacing: 0.05rem;
    font-weight: 300;
    margin-bottom: 0.8rem;
}

.article-body {
    font-size: clamp(0.9rem, 1vw, 1rem);
    font-weight: 400;
    opacity: 0.6;
}

.article-read-more {
    display: block;
    background-color: #252525;
    font-size: clamp(1.2rem, 1.2vw, 1.4rem);
    font-weight: 600;
    padding: 0.8rem 3.6rem;
    border-radius: 0.6rem;

    z-index: 10;
    margin: 0.4rem;
}

.article-read-more:hover {
    background-color: aqua;
    color: #000;
}

/* ========================================================== 
   About Section Start
========================================================== */

#about .container {
    /* CSS Layout */
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

#about .section-img img {
    width: 45rem;
    height: auto;
    border-radius: 0.8rem;
}

#about .container .section-heading {
    max-width: 80rem;
}

#about .section-heading .section-title,
#about .section-heading .floating-title {
    text-align: left;
}

#about .floating-title {
    /* font */
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #fa5b2f;
}

#about .section-heading {
    font-size: 3.2rem;
    margin-bottom: 1.6rem;
}

#about .section-para {
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 1.2rem;
}

#about button {
    color: #fff;
    /* font */
    font-size: 1.6rem;
    font-weight: 600;

    /* box-model */
    padding: 1.2rem 2.4rem;

    /* color */
    background-color: transparent;
    border: 1px solid #ba2d06;
}

#about button .bi-arrow-up-right {
    /* color */
    color: #ba2d06;
    margin-left: 0.4rem;
}

#about button:hover,
#about button:hover .bi-arrow-up-right {
    background-color: #0b5ed7;
    color: #0f172a;
    border: none;
}

/* About Section End */


/* ========================================================== 
   Services Section Start
========================================================== */
/* Heading */
.services {
    /* box-model */
    padding: clamp(4rem, 6vw, 8rem) 0;

    /* color */
    background-color: #393E46;
}

.service-cards-box {
    /* CSS Layout */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

/* Content */

/* ===============================
   Service Card
================================ */
.service-card {
    /* color */
    background: #222831;

    /* box-model */
    width: 40rem;
    border-radius: 0.8rem;
    padding: 1.2rem;

    /* CSS Layout */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ===============================
   Card Header
================================ */
.service-card-header {
    display: flex;
    gap: 1.6rem;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.service-icon {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #181818;
    border-radius: 0.8rem;
    overflow: hidden;
}

.service-icon img {
    width: 5rem;
    height: 5rem;
    object-fit: contain;
}

.service-header-title {
    font-size: 2.4rem;
    font-weight: 700;
    color: #dbdbdb;
    text-transform: uppercase;
}

/* ===============================
   Card Content
================================ */
.fa-circle-check {
    color: #00C853;
    margin-right: 0.6rem;
}

.service-content {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    background-color: #181818;
    padding: 2rem;
    border-radius: 0.8rem;
}

.service-content-title {
    font-size: 1.6rem;
    color: #ffffff;
}

.service-description-list li {
    font-size: 1.4rem;
    line-height: 1.8;
    color: #EEEEEE;
    opacity: 0.9;
}

/* ===============================
   Service Link
================================ */
.service-link {
    background-color: #e0e0e0;
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    color: #000;
    padding: 0.6rem 0;
    border-radius: 0.6rem;
    text-decoration: none;
    text-align: center;
}

.service-link:hover {
    background-color: #0b5ed7;
    color: #fff;
}